*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
   
}

.container{
  
    width: 70vw;
    padding: 20px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.6);
    border-radius: 20px;
    background-color: white;
}

#display{
    width: 70vw;
    
    height: 60px;
  font-weight: 200;
  font-size: 40px;
    text-align: right;
  margin-bottom: 20px;
  border-radius: 20px;
  cursor: pointer;
  padding-right: 10px;
  border: 2px solid black;

}

.buttons{
    /* background-color: grey; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
   padding: 10px;
 background: white;
 
 
}


.change{
 color: orangered;
   }


.buttons button{
    border-radius: 10px;
    
    font-size: 30px;
    font-weight: 400;
    cursor: pointer;
    height: 60px;
   
}


button:hover{
    background-color: rgba(149, 148, 148, 0.2);
}